h1 {
  text-align: center;
}

#grid {
  border: 1px black solid;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  background-color: burlywood;
}

#grid div {
  width: 50px;
  height: 50px;
}

.end {
  background-color: blue;
}

.road {
  background-color: grey;
}

.river {
  background-color: grey;
}

#frog {
  background-color: green;
}

.frontIsHere,
.backIsHere,
.carIsHere {
  background-color: black;
}
